# API Base URL (Vite requires VITE_ prefix for client-side access)
VITE_API_URL=http://localhost:5173 ## API URL
VITE_WEB_URL=http://localhost ## e.g: https://yourdomain.com, http:<your-ip-address>:<port>
VITE_NODE_ENV=development